.f{
    height: 35vh;
    background-color: rgba(212, 209, 209, 0.664);
}
.menu-bar2{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

 }
 .menu-list2{
     padding-left: 48px;
 }
 .anchor-gap2{
    padding-left: 36px;
 }
 @media only screen and (max-width:679px) {
   .menu-bar2{
      flex-direction: column;
   }
   .f{
       height: 50vh;
   }
}